mixin space()
  | !{' '}
doctype html
html#top(lang="en")
    head
        title ocalhoun's Nifty Fifty
        meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
        meta(name="charset" content="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(rel="prerender" as="style" href="/style.css")

        link(rel="stylesheet" href="style.css")
        link(rel="icon" href="/favicon.ico")

        block head

    body.bg-light
        block content
        .container.my-4.text-center
            a.mx-1(href='https://github.com/Dagothig/nifty-fifty') Source
            a.mx-1(href="#top") Back to top
